pre {
    border: 1px solid #ced4da;
    padding: 3px 7px;
    max-height: 70vh;
    overflow-y: auto;
}

code {
    display: grid;
    position: relative;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1ch;
    box-sizing: border-box;
    width: 100%;
}

code,
textarea {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: normal;
}

.line {
    grid-column: 1;
    pointer-events: none;
    min-width: 4ch;
    white-space: nowrap;
}

.content {
    grid-column: 2;
}

.textarea {
    grid-column: 2;
    caret-color: black;
    background: transparent;
    color: transparent;
    position: absolute;
    margin: 0;
    right: 0;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
    resize: none;
}

.line {
    text-align: right;
    pointer-events: none;
}

/* COLORS */

.key,
.string {
    color: rebeccapurple;
}

.punctuation {
    color: hotpink;
}

.keyword,
.operator {
    color: rebeccapurple;
    font-weight: bold;
}
.function {
    color: deepskyblue;
}

.boolean {
    color: goldenrod;
}

.number {
    color: greenyellow;
}

.comment {
    color: darkgray;
    font-style: italic;
}
